.main {
  background-image: url('../img/meals.jpg');
  background-size: cover;
  width: 100%;
  min-height: 18rem;
  height: max-content;
  object-fit: contain;
  display: flex;
  justify-content: center;
}
